body{
    background-color: var(--color-grey-5);
}

.menu__header{
    height: 17.5rem;
    width: 100%;
    background: var(--color-grey-3);
}

.menu__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 17.5rem;
    margin: 0 25% 0 10%;
    width: 70%;
}

.menu__titulo2{
    margin: 2rem 0 1rem 0;
    color: var(--color-grey-1);
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.menu__titulo--span{
    color: var(--color-grey-2);
}

.menu__desc{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--color-grey-1);
    font-size: .6rem;
    margin: 0 auto;
}

.menu__vagas{
    display: flex;
    flex-direction: row;
    color: var(--color-grey-1);
    gap: .5rem;
    padding: 1.4rem 1.4rem 0 0;
    font-size: .6rem;
    height: 7rem;
    width: 15rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    flex-wrap: wrap;
}

.menu__vagas--front, .menu__vagas--back{
    border: 1px solid var(--color-grey-1);
    border-radius: 8px;
    width: 25rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu__main{
    width: 95%;
}

.menu__titulo1, .menu__titulo4{
    font-size: .8rem;
    color: var(--color-grey-6);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 19px;
    padding: .2rem;
    height: 1.87rem;
    margin-top: .5rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.menu__section1, .menu__section2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    min-width: 15rem;
    height: 16rem;
    gap: 12px;
    margin: 0 1rem 0 1rem;
}

.menu__container1, .menu__container2{
    display: flex;
    height: 13rem;
    background: var(--color-grey-1);
    border-radius: 8px;
    position: relative;
    margin: 0 2rem 0 0;
}

.menu__section--ul1, .menu__section--ul2{
    width: 100%;
}

.menu__section--li, .menu__section--li2{
   width: 15rem;
}

.menu__g, .menu__g2{
    color: var(--color-grey-1);
    font-size: 1rem;
    background: var(--color-grey-7);
    border-radius: 2rem;
    width: 3rem;
    height: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1rem;
    left: .7rem;
}

.menu__titulo, .menu__titulo3{
    padding: 1rem;
    font-size: .8rem;
    color: var(--color-grey-3);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 1rem .6rem 0 3.1rem;
    gap: 1.5rem;
}

.menu__descricao, .menu__descricao2{
    font-size: .7rem;
    color: var(--color-grey-4);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 10px;
    position: absolute;
    top: 4rem;
    left: .5rem;
    line-height: 20px;
}

.menu__full, .menu__full2{
    font-size: .6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--color-grey-2);
    position: absolute;
    top: 11rem;
    left: 2.1rem;
}

.menu__remote, .menu__remote2{
    font-size: .6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: var(--color-grey-2);
    position: absolute;
    top: 11rem;
    left: 5.8rem;
}

*{
    scrollbar-width: thin;
    scrollbar-color: #37268C #37268C; 
}

@media(min-width: 480px){
    .menu__header{
        height: 15rem;
        width: 100%;
    }

    .menu__nav{
        margin: 0 auto;
    }

    .menu__vagas{
        width: 20rem;
    }
    
    .menu__vagas{
        flex-wrap: nowrap;
    }

    .menu__section1, .menu__section2{
        width: 100%;
        max-width: 46rem;
        height: 17rem;
    }
}

@media(min-width: 770px){
    .menu__header{
        height: 17.5rem;
        /* max-width: 150rem; */
        width: 100%;
    }

    .menu__nav{
        margin: 0 auto;
    }

    .menu__vagas{
        width: 20rem;
    }

    .menu__main{
        width: 100%;
    }

    .menu__section1, .menu__section2{
        overflow-x: hidden;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 100rem;
        height: 39rem;
        width: 95%;
    }
    
    .menu__container1, .menu__container2{
        margin: 1.8rem 0 0 .6rem;
    }

    .menu__section--ul1, .menu__section--ul2{
        width: 300px;
        margin: 0 auto;
    }
    
}

@media(min-width: 1000px){
    .menu__titulo1, .menu__titulo4 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .menu__section1, .menu__section2{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 39rem;
        width: 95%;
    }
}

@media(min-width: 1280px){
    .menu__header{
        height: 17.5rem;
        width: 100vw;
    }

    .menu__nav{
        margin: 0 auto;
    }

    .menu__titulo2{
        font-size: 3rem;
    }
    
    .menu__desc{
        font-size: 1.3rem;
        margin: 2rem 0 2rem 0;
    }
    
    .menu__vagas{
        font-size: 1rem;
        height: 30rem;
        width: 60%;
    }

    .menu__main{
        width: 100%;
    }

    .menu__titulo1, .menu__titulo4 {
        font-size: 2rem;
        margin-top: 2rem;
    }

    .menu__section1, .menu__section2{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 39rem;
        width: 95%;
    }
    
    .menu__container1, .menu__container2{
        margin: 1.8rem 0 0 .6rem;
    }

    .menu__section--ul1, .menu__section--ul2{
        width: 20rem;
        margin: 0 auto;
    }

    .menu__section--li, .menu__section--li2 {
        width: 20rem;
    }

    .menu__titulo, .menu__titulo3 {
        padding: 1rem;
        font-size: 1rem;
        color: var(--color-grey-3);
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        margin: .5rem 0 0 4rem;
    }

    .menu__descricao, .menu__descricao2 {
        font-size: .9rem;
        top: 5rem;
    }

    .menu__full, .menu__full2{
        font-size: .8rem;
    }
    
    .menu__remote, .menu__remote2{
        font-size: .8rem;
    }
}

@media(min-width: 2000px){
    .menu__header{
        height: 25rem;
        width: 100vw;
    }

    .menu__nav{
        margin: 0 auto;
    }

    .menu__titulo2{
        font-size: 5rem;
    }
    
    .menu__desc{
        font-size: 2rem;
        margin: 2rem 0 2rem 0;
    }
    
    .menu__vagas{
        font-size: 2rem;
        height: 30rem;
        width: 60%;
        margin: 0 0 0 15rem;
    }

    .menu__main{
        width: 100%;
    }

    .menu__titulo1, .menu__titulo4 {
        font-size: 2.5rem;
        margin: 3rem;
    }

    .menu__section1, .menu__section2{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70rem;
        width: 230rem;
        max-width: 98%;
    }
    
    .menu__container1, .menu__container2{
        margin: 1.8rem 0 0 .6rem;
        width: 50rem;
        height: 30rem;
    }

    .menu__section--ul1, .menu__section--ul2{
        width: 40rem;
        margin: 0 auto;
    }

    .menu__section--li, .menu__section--li2 {
        width: 30rem;
    }

    .menu__g, .menu__g2 {
        font-size: 2rem;
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
    }

    .menu__titulo, .menu__titulo3 {
        padding: 1rem;
        font-size: 2rem;
        color: var(--color-grey-3);
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        margin: 1rem 0 0 1rem;
    }

    .menu__descricao, .menu__descricao2 {
        font-size: 1.8rem;
        top: 8rem;
        line-height: 2rem;
    }

    .menu__full, .menu__full2{
        font-size: 1.5rem;
        top: 20rem;
    }
    
    .menu__remote, .menu__remote2{
        font-size: 1.5rem;
        top: 20rem;
        left: 10rem;
    }
}

@media(min-width: 2010px){
    .menu__vagas{
        font-size: 2rem;
        height: 30rem;
        width: 60%;
        margin: 0 0 0 5rem;
    }
}

@media(min-width: 2300px){

    .menu__section1, .menu__section2{
        flex-wrap: wrap;
    }
    .menu__vagas{
        font-size: 2rem;
        height: 30rem;
        width: 60%;
        margin: 0 0 0 10rem;
    }
}

@media(min-width: 2500px){
    .menu__vagas{
        font-size: 2rem;
        height: 30rem;
        width: 60%;
        margin: 0 0 0 15rem;
    }
}

@media(min-width: 2600px){
    .menu__vagas{
        font-size: 2rem;
        height: 30rem;
        width: 60%;
        margin: 0 0 0 20rem;
    }
}

@media(min-width: 2700px){
    .menu__vagas{
        font-size: 2rem;
        height: 30rem;
        width: 60%;
        margin: 0 0 0 25rem;
    }
}

@media(min-width: 2900px){
    .menu__vagas{
        font-size: 2rem;
        height: 30rem;
        width: 60%;
        margin: 0 0 0 30rem;
    }
}

@media(min-width: 3100px){
    .menu__vagas{
        font-size: 2rem;
        height: 30rem;
        width: 60%;
        margin: 0 0 0 35rem;
    }
}

@media(min-width: 3300px){
    .menu__vagas{
        font-size: 2rem;
        height: 30rem;
        width: 60%;
        margin: 0 0 0 40rem;
    }
}